span.tooltip {
    position: absolute;
    top: 400%;
    left: 0;
    font-family: LatoBold;
    font-size: 12px;
    padding: 6px 6px;
    color: #86181d;
    background-color: #ffdce0;
    border: 1px solid #cea0a5;
    border-radius: 4px;
    white-space: nowrap; 
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

span.tooltipWhats {
    top: 170%;
}

span.toolTermos {
    top: 140%;
}

span.toolAparece {
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

span.tooltip::after {
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #ffdce0 transparent;
    position: absolute;
    left: 10px;
    top: -16px;
}

span.toolTermos::after {
    left: 0px;
}
