<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org" lang="pt-BR">

<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/logado.css">
    <link rel="stylesheet" href="/css/perfilprestador.css">
    <link rel="stylesheet" href="/css/gifsLibras.css">
    <link rel="stylesheet" href="/css/perfilprestadorRespon.css">
    <link rel="stylesheet" href="/css/chat.css">
    <title>Visualizar Prestador</title>
</head>

<body>
    <!-- INICIO HEADER -->
       <header >
        <a href="index.html" id="logo">
            <img src="/img/prestologo.png" alt="Logo">
            <span id="titLogo">Presto</span>
        </a>
        <!-- Verificações feitas com tymeleaf para saber se o usuário está logado ou não  -->
        <form  action="/pesquisaProfissao" method="post" id="buscaPre">
            <input type="search" name="profissao"  placeholder="Busque por profissionais..." id="inpSearch">
            <button type="submit" id="busca"><img src="/img/icon/search-solid.svg" alt="Buscar"></button>
        </form>
        
    
        <ul th:if="${session.user != null}" id="logCad">
            <li><a th:href="@{/busca}">Buscar</a></li>
             <li><a th:href="${session.user != null ?  '' : '@{/inseriruser}'}"></a></li>
        </ul>
        
         <ul th:unless="${session.user != null}" id="logCad">
            <li><a th:href="@{/busca}">Buscar</a></li>
            <li><a th:href="@{/inseriruser}">Cadastre-se</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
       
                  <!-- Container logado -->
   
   		<div  class="containerLog" th:if="${session.user != null}">
			<img class="borda" style="border-radius: 45px; width:45px; height:45px;" th:if="${session.user.file != null}"  th:src="|/img/perfil/${session.user.file}|"  alt="foto do perfil">
   			<img class="borda" style="border-radius: 45px; width:45px; height:45px;" th:unless="${session.user.file != null}"   src="/img/prestologo.png"  alt="foto do perfil">
            <span th:text="${session.user != null ?  session.user.email : ''}" class="nome"><span class="cliPres"></span></span>
             <div class="inforPerf">
                <span><a th:href="@{/editarS/{login}(login=${session.user.email})}"><span class="infCliPres" th:text="${session.user != null ?  session.user.email+' (Cliente)' : ''}" onclick="mudarStatPrest()"></span></a></span>
                
                <span><a th:href="@{/cadP/{login}(login=${session.user.email})}"><span class="infCliPres" th:text="${session.user != null ?  session.user.email+' (Prestador)' : ''}" onclick="mudarStatPrest()"></span></a></span>
                <hr class="hrDiv">
                <span class="sobrePerfil"><a th:href="@{/teste/{email}(email=${session.user.email})}">Meus contratos</a></span>
                <span class="sobrePerfil"><a th:href="@{/editarS/{login}(login=${session.user.email})}">Editar perfil</a></span>
                <span class="sobrePerfil"><a href="#">Meu perfil</a></span>
                <hr class="hrDiv">
                <span class="sair"><a th:href="@{/logout}">Sair</a></span>
            </div>
        </div>
        <div th:unless="${session.user != null}">
        
        </div>

          
    </header>
   
    <!-- FIM HEADER -->
    <!-- INICIO NAV -->
     <nav id="index">
        <ul id="menu">
            <li><a th:href="@{/}">Início</a></li>
            <li><a th:href="@{/sobre}">Sobre</a></li>
            <li><a th:href="@{#}">Contato</a></li>
        </ul>
    </nav>
    <!-- FIM NAV -->

    <!-- INICIO SECAO PERFIL PRESTADOR -->
    <section id="secPerfilPrestador">
        <img style="border-radius: 45px; width:80px; height:80px;"  th:src="|/img/perfil/${prestador.file}|" alt="foto do prestador" class="borda"  id="fotPerPrestador">
        
        <div th:object="${prestador}" class="desPres">
        
            <span th:text="${prestador.profissao}" class="profPrest">Pedreiro</span>
            <span  th:text="${prestador.PNomeSolicitante}"  class="nomePrest"> - João da Silva dos Santos</span>
            <span  th:text="${prestador.descricao}" class="desTrab">Trabalho com construção de casas há mais de cinco anos.</span><br>

            <div class="desEnd">
                <i class='fas fa-map-marker-alt'></i>
                <span th:text="${prestador.local}"class="cid"> Recife - PE</span><br>

                <i class='fas fa-phone-alt'></i>
                <span th:text="${prestador.phone}" class="tel">81 9 1477 1564</span>
            </div>
        </div>

         <div id="containerInfoPrest">
            <button id="contPre" onclick="abrirFormContrato()">Contratar</button>
            <div class="classf">
                <span class="titClas">Classificação</span>
                <div th:if="${nota == 0}">
	                <i class='far fa-star' id="sZero" style='font-size:20px; color: #FBBD08; margin-left: 5px;'></i>
	                <i class='far fa-star' id="sUm" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sDois" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sTres" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sQuatro" style='font-size:20px; color: #FBBD08;'></i>
	             </div>
	              <div th:if="${nota == 1}">
	                <i class='fas fa-star' id="sZero" style='font-size:20px; color: #FBBD08; margin-left: 5px;'></i>
	                <i class='far fa-star' id="sUm" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sDois" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sTres" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sQuatro" style='font-size:20px; color: #FBBD08;'></i>
	             </div>
	              <div th:if="${nota == 2}">
	                <i class='fas fa-star' id="sZero" style='font-size:20px; color: #FBBD08; margin-left: 5px;'></i>
	                <i class='fas fa-star' id="sUm" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sDois" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sTres" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sQuatro" style='font-size:20px; color: #FBBD08;'></i>
	             </div>
	              <div th:if="${nota == 3}">
	                <i class='fas fa-star' id="sZero" style='font-size:20px; color: #FBBD08; margin-left: 5px;'></i>
	                <i class='fas fa-star' id="sUm" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='fas fa-star' id="sDois" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sTres" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sQuatro" style='font-size:20px; color: #FBBD08;'></i>
	             </div>
	              <div th:if="${nota == 4}">
	                <i class='fas fa-star' id="sZero" style='font-size:20px; color: #FBBD08; margin-left: 5px;'></i>
	                <i class='fas fa-star' id="sUm" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='fas fa-star' id="sDois" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='fas fa-star' id="sTres" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sQuatro" style='font-size:20px; color: #FBBD08;'></i>
	             </div>
	              <div th:if="${nota == 5}">
	                <i class='fas fa-star' id="sZero" style='font-size:20px; color: #FBBD08; margin-left: 5px;'></i>
	                <i class='fas fa-star' id="sUm" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='fas fa-star' id="sDois" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='fas fa-star' id="sTres" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='fas fa-star' id="sQuatro" style='font-size:20px; color: #FBBD08;'></i>
	             </div>
	             <div th:if="${nota == null}">
	                <i class='far fa-star' id="sZero" style='font-size:20px; color: #FBBD08; margin-left: 5px;'></i>
	                <i class='far fa-star' id="sUm" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sDois" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sTres" style='font-size:20px; color: #FBBD08;'></i>
	                <i class='far fa-star' id="sQuatro" style='font-size:20px; color: #FBBD08;'></i>
	             </div>
            </div>
            <!-- Temporario para mostrar classificação correta  -->

            <div class="endPrest">
                <span class="LocPres">Localização</span><br>
                <span class="maisDesEnd">CEP</span>
                <span class="maisDesEnd bair">Bairro</span><br>
                <span class="cep">84787148</span>
                <span class="bairro">Afogados</span>
            </div>
        </div>
        <hr id="hrClassificacao">

        <!-- INICIO RESENHAS -->
        <section id="secDesPres">
            <p id="titSecDesPres">Avaliações</p>
            <button id="btnEscAva" onclick="abrirClasfcar()">Escrever uma avaliação</button><br>

            <div th:each="desc: ${desc}" class="resenhas" style="margin-top: 60px;">
                <span th:text="${desc.avaliador}" class="nomeCliDes">Lucas Santos</span>
					
				<!-- GUAMBIARRA PARA CLASSIFICAÇÃO  -->
				
				<div th:if="${desc.nota == 1}">
                <span class="dEstrelas">
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                </div>
                <div th:if="${desc.nota == 2}">
                <span class="dEstrelas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                </div>
                <div th:if="${desc.nota == 3}">
                <span class="dEstrelas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                </div>
                <div th:if="${desc.nota == 4}">
                <span class="dEstrelas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                </div>
                <div th:if="${desc.nota == 5}">
                <span class="dEstrelas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
                </div>
                <div th:if="${desc.nota == 0 }">
                <span class="dEstrelas">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </span>
                </div>
                <!-- GUAMBIARRA PARA CLASSIFICAÇÃO  -->

                <p th:text="${desc.avaliacao}" class="descResenhas">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Optio maiores qui sit eum ratione accusantium ullam quod 
                    temporibus sed, necessitatibus, reiciendis ad libero rerum 
                    cum quisquam dignissimos laboriosam, magnam dicta.
                </p>
            </div>

           
        </section>
        <!-- FIM RESENHAS -->

        <button class="iniciarChat" onclick="abrirChat()">
            <i class="material-icons">message</i>
            <span class="desChat">Chat</span>
        </button>

        <button class="iniciarChat libras" onclick="abrirGifs()">
            <i class="fa fa-sign-language"></i>
            <span class="desChat" style="top: 0;">Libras</span>
        </button>
    </section>
    <!-- FIM SECAO PERFIL PRESTADOR -->

    <!-- INICIO FOOTER -->
    <footer>
        <a href="index.html" id="logoFooter">
            <img src="/img/prestologo.png" alt="Logo">
            <span id="titLogoFooter">Presto</span>
        </a>
        <span id="direitos">2011-2020 © Todos os direitos reservados. Presto® é uma marca registrada de Presto
            Tecnologia.</span>
    </footer>
    <!-- FIM FOOTER -->

    <!-- INICIO CONTRATO FIXED -->
   
   
   <div class="modal">
        <form action="/contratos1" th:object="${contrato}"  enctype="multipart/form-data" method="post" class="formContrato">
            <p id="titForm">Contratar prestador</p>

            <!--  <label for="inpContratante" class="labContrato">Contratante</label> <!-- Contratante e contratado não usam o th:field para eu poder atribuir o valor através do th:value --> 
            <input type="hidden" readonly="readonly" class="inpContrato" th:value="${session.user.email}" th:name="contratante"  id="inpContratante" placeholder="Nome do cliente">

             <!--  <label for="inpContratado" class="labContrato">Contratado</label> -->
            <input type="hidden" readonly="readonly" class="inpContrato" th:value="${prestador.email}" th:name="contratado"  id="inpContratado" placeholder="Nome do prestador">  

            <label for="descServico" class="labContrato">Descrição do serviço/obra a ser realizado</label>
            <textarea name="" class="areaDescSer" th:field="*{descricao}" id="descServico" rows="5" placeholder="Descreva aqui a obra"></textarea>
            
             <label for="divFotos" class="labContrato">Anexe algumas imagens referente ao serviço</label>
            <input type="file" id="fileElem" name="files" multiple accept="image/*" onchange="handleFiles(this.files)">
            <div id="fileList"></div>

            <label for="dataIni" class="labContrato date lUm">Data de início
                <a href="#" id="fileSelect">Escolher arquivo(s)</a>
            </label>
            <label for="dataTer" class="labContrato date">Data do término</label>

            <input type="date" class="inpContrato date iUm" th:field="*{datainicio}" id="dataIni" onmouseover="MudarCorDaIni()">
            <input type="date" class="inpContrato date" th:field="*{datafim}" id="dataTer" onmouseover="MudarCorDaTer()">

            <label for="inpDinheiro" class="labContrato">Quantia a ser paga</label>
            <input type="text" class="inpContrato mar" th:field="*{valor}" id="inpDinheiro" placeholder="Insira aqui o valor">

            <input type="checkbox" name="" value="iniciado" th:field="*{status}" id="checkAceitarCli" class="inpCheck">
            <label for="checkAceitarCli" class="labContrato check mar">Estou de acordo com o contrato</label>

            <input type="checkbox" name="" id="checkAceitarPres" class="inpCheck checRes">
            <label for="checkAceitarPres" class="labContrato check">Estou de acordo com o contrato</label>

            <span class="desCheck spUm">Contratante</span>
            <span class="desCheck">Contratado</span><br>

            <span id="btnContratoCan" onclick="sumirModal()">Cancelar</span>
            <button type="submit" id="btnContratoEnv">Enviar</button>
        </form>
    </div>
    <!-- FIM CONTRATO FIXED -->


    <!-- INICIO FORM CLASSICAR PRESTADOR FIXED -->
    <div class="modalClassificar">
        <form action="/avaliacao" th:object="${avaliacao}"  method="post" class="formClasfcar">
            <p class="titClasfcar">Escreva sua avaliação</p>
			<input type="hidden" readonly="readonly" class="inpContrato" th:value="${session.user.email}" th:name="avaliador"  id="inpContratante" placeholder="Nome do cliente">
			<input type="hidden" readonly="readonly" class="inpContrato" th:value="${prestador.email}" th:name="profissinal"  id="inpContratado" placeholder="Nome do prestador">  
			
			
            <label for="descClasfcar" class="labContrato">Escreva aqui sua apinião</label>
            <textarea name="" th:field="*{avaliacao}" id="descClasfcar" rows="8" placeholder="Deixe sua breve opinião o(a) respeito do(a) prestador(a)"></textarea>
	

            <span class="tEstrelas"  style="display: none; margin-top: 33px;">
                <i class="far fa-star"  style='font-size: 32px; color: #FBBD08; display: inline-block; margin-left: 0px; cursor: pointer;'></i>
                <i class="far fa-star" style='font-size: 32px; color: #FBBD08; display: inline-block; margin-left: -3px; cursor: pointer;'></i>
                <i class="far fa-star" style='font-size: 32px; color: #FBBD08; display: inline-block; margin-left: -3px; cursor: pointer;'></i>
                <i class="far fa-star" style='font-size: 32px; color: #FBBD08; display: inline-block; margin-left: -3px; cursor: pointer;'></i>
                <i class="far fa-star" style='font-size: 32px; color: #FBBD08; display: inline-block; margin-left: -3px; cursor: pointer;'></i>
            </span>
           
            
            <span class="titEstrelas">Quantas estrelas você o(a) classificaria?</span><br>
            <input type="text" id="txtNumEstre" style="position: relative; z-index: -1; opacity: 0;">


			<div class="estrelas">
			  <input th:field="*{nota}" type="radio" id="cm_star-empty" name="fb" value="1"/>
			  <label for="cm_star-1"><i class="fa"></i></label>
			  <input th:field="*{nota}" type="radio" id="cm_star-1" name="fb" value="1"/>
			  <label for="cm_star-2"><i class="fa"></i></label>
			  <input th:field="*{nota}" type="radio" id="cm_star-2" name="fb" value="2"/>
			  <label for="cm_star-3"><i class="fa"></i></label>
			  <input th:field="*{nota}" type="radio" id="cm_star-3" name="fb" value="3"/>
			  <label for="cm_star-4"><i class="fa"></i></label>
			  <input th:field="*{nota}" type="radio" id="cm_star-4" name="fb" value="4"/>
			  <label for="cm_star-5"><i class="fa"></i></label>
			  <input th:field="*{nota}" type="radio" id="cm_star-5" name="fb" value="5"/>
			</div>
		
            <span class="btnCanClasfcar" onclick="fecharClasfcar()">Cancelar</span>
            <button type="submit" id="btnEnvClasfcar">Enviar</button>
        </form>
    </div>
    <!-- FIM FORM CLASSICAR PRESTADOR FIXED -->

    <!-- INICIO BOX PALAVRAS LIBRAS -->
    <div id="Mlibras">
        <span id="titMLibras">Mensagem em libras 
            <i class="material-icons" onclick="fecharGifs(event)" style="font-size:36px; position: absolute; top: 2px; right: 11px; cursor: pointer;">close</i>
        </span>

        <textarea name="" id="tMLibras" oninput="ReceberValores()"></textarea>

        <i class="material-icons" onclick="copTexto()" title="Copiar texto" style="font-size:28px; position: absolute; bottom: 15px; left: 25px; cursor: pointer;">content_copy</i>
        <i class='far fa-trash-alt' onclick="apaTexto()" title="Apagar texto" style='font-size:25px; color: #ff0000b2; position: absolute; bottom: 15px; right: 25px; cursor: pointer;'></i>
        <span id="sptCop" class="tCopSuc"></span>
    </div>
    <!-- FIM BOX PALAVRAS LIBRAS -->

    <!-- INICIO SECAO CATEGORIAS GIFS FIXED -->
    <section id="secaoCatGifs">
        <h1 id="tituloSecaoCatGifs">Selecione</h1>
        <i class="material-icons" id="fecGifs" onclick="fecharGifs(event)" style="font-size: 80px; position: absolute; top: 18px; right: 17px; color: #ffffff; cursor: pointer;">close</i>

        <div id="divDasecaoCatGifs">
            <div class="catSaudacao">
                <img src="/img/gifs/saudacao/ola_gif.gif" alt="Olá em libras">
                <p class="DesGif">Olá</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarOla()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/saudacao/oi_gif.gif" alt="Oi em libras">
                <p class="DesGif">Oi</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarOi()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/saudacao/como_vai_gif.gif" alt="Como vai? em libras">
                <p class="DesGif">Como vai?</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarComoVai()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/saudacao/bom_dia_gif.gif" alt="Bom dia em libras">
                <p class="DesGif">Bom dia</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarBomDia()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/saudacao/boa_tarde_gif.gif" alt="Boa tarde em libras">
                <p class="DesGif">Boa tarde</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarBoaTarde()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/saudacao/boa_noite_gif.gif" alt="Boa noite em libras">
                <p class="DesGif">Boa noite</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarBoaNoite()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/profissao/prestador.gif" alt="Prestador em libras">
                <p class="DesGif">Prestador</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarPrestador()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/profissao/cliente.gif" alt="Cliente em libras">
                <p class="DesGif">Cliente</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarCliente()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>

            <div class="catSaudacao">
                <img src="/img/gifs/frases/gostariaDeUmOrçamento.gif" alt="Cliente em libras">
                <p class="DesGif">Gostaria de um orçamento</p>
                <button class="btnEnviar" title="Enviar para" onclick="enviarFraseGostaria()"><i class='fas fa-share'
                        style="font-size:23px;"></i></button>
            </div>
        </div>
    </section>
    <!-- FIM SECAO CATEGORIAS GIFS FIXED -->


    <!-- INICIO CHAT -->
    <div id="chat">
        <div id="nome">
            <span th:text="${prestador.PNomeSolicitante}" >João da Silva</span>
        </div>
        <i class="material-icons" id="closeChat" onclick="closeChat()" style="font-size:36px; cursor: pointer;">close</i>

        <div id="mensagem">
            <textarea id="textMens"></textarea>
            <i class="material-icons" id="sendMen" onclick="envMen()" style="font-size:36px">send</i>
        </div>
    </div>
    <!-- FIM CHAT -->

    
    <script src="/js/chat.js"></script>
    <script src="/js/perfilprestador.js"></script>
    <script src="/js/gifsLib.js"></script>
    <script src="/js/logado.js"></script>
</body>

</html>