
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/logado.css}">
   	<link rel="stylesheet" th:href="@{/css/cadastrosucesso.css}">
  	<link rel="stylesheet" th:href="@{/css/cadastroprestador.css}">
    <title>Cadastro prestador</title>
</head>

<body>
    <!-- INICIO HEADER -->
    <header >
        <a href="index.html" id="logo">
            <img src="/img/prestologo.png" alt="Logo">
            <span id="titLogo">Presto</span>
        </a>
        <!-- Verificações feitas com tymeleaf para saber se o usuário está logado ou não  -->
        <form  action="/pesquisaProfissao" method="post" id="buscaPre">
            <input type="search" name="profissao"  placeholder="Busque por profissionais..." id="inpSearch">
            <button type="submit" id="busca"><img src="/img/icon/search-solid.svg" alt="Buscar"></button>
        </form>
        
    
        <ul th:if="${session.usu != null}" id="logCad">
            <li><a th:href="@{/busca}">Buscar</a></li>
             <li><a th:href="${session.usu != null ?  '' : '@{/inseriruser}'}"></a></li>
        </ul>
        
         <ul th:unless="${session.usu != null}" id="logCad">
            <li><a th:href="@{/busca}">Buscar</a></li>
            <li><a th:href="@{/inseriruser}">Cadastre-se</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
       
                  <!-- Container logado -->
   
   		<div  class="containerLog1" th:if="${session.usu.email != null}">
				<img class="borda" th:if="${session.usu.file != null}"  th:src="|/img/perfil/${session.usu.file}|"  alt="foto do perfil">
   				<img class="borda" th:unless="${session.usu.file != null}"   src="/img/prestologo.png"  alt="foto do perfil">		
            <span th:text="${session.usu != null ?  session.usu.email : ''}" class="nome"><span class="cliPres"></span></span>
             <div class="inforPerf">
                <span><a th:href="@{/editarS/{login}(login=${session.usu.email})}"><span class="infCliPres" th:text="${session.usu != null ?  session.usu.email+' (Cliente)' : ''}" onclick="mudarStatPrest()"></span></a></span>
                
                <span><a th:href="@{/cadP/{login}(login=${session.usu.email})}"><span class="infCliPres" th:text="${session.usu != null ?  session.usu.email+' (Prestador)' : ''}" onclick="mudarStatPrest()"></span></a></span>
                <hr class="hrDiv">
                <span class="sobrePerfil"><a th:href="@{/teste/{email}(email=${session.usu.email})}">Meus contratos</a></span>
                <span class="sobrePerfil"><a th:href="@{/editarS/{login}(login=${session.usu.email})}">Editar perfil</a></span>
                <span class="sobrePerfil"><a href="#">Meu perfil</a></span>
                <hr class="hrDiv">
                <span class="sair"><a th:href="@{/logout}">Sair</a></span>
            </div>
        </div>
        <div th:unless="${session.usu != null}">
        
        </div>

          
    </header>
    <!-- FIM HEADER -->
    <!-- INICIO NAV -->
    <nav>
        <ul id="menu">
            <li><a th:href="@{/}">Início</a></li>
            <li><a th:href="@{/sobre}">Sobre</a></li>
            <li><a th:href="@{/}">Contato</a></li>
        </ul>
    </nav>
    <!-- FIM NAV -->

    <!-- INICIO FORM CADASTRO PRESTADOR -->
    <form action="/editP" method="post" th:object="${user}" id="cadPres">
    	<input type="hidden" th:field="*{login}">
        <input type="hidden" th:field="*{senha}">  
        <input type="hidden" th:field="*{cpf}">
        <input type="hidden" th:field="*{PNomeSolicitante}">
        <input type="hidden" th:field="*{SNomeSolicitante}">  
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{phone}">
        <input type="hidden" th:field="*{datanas}">  
        <h3 id="titCadPres">Preencha o formulário para trabalhar como prestador</h3>
        <p class="titPro">Sua profissão</p>
       
        <input type="hidden" name="" placeholder="Login"  class="inpClass" th:field="*{tipo}" >
        <select name="" th:field="*{profissao}" id="profissoes" onchange="funProf()" onmouseover="mudarCorPro()">
            <option class="optPro" value="teste">Selecione</option>
            <option class="optPro" value="Pedreiro" >Pedreiro</option>
            <option class="optPro" value="ajundanteDePedreiro" >Ajudante de pedreiro</option>
            <option class="optPro" value="Marceneiro" >Marceneiro</option>
            <option class="optPro" value="MestreDeObras" >Mestre de Obras</option>
        </select>

        <!-- estados -->
        <label for="estado" class="labClas">Estado onde deseja trabalhar</label><br>
        <select name="" th:field="*{local}" id="estado" class="selClas" onchange="mudarEstPres(this.value)" onmouseover="mudarCorEst()">
            <option class="optClas" value="teste">Selecione o estado</option>
            <option class="optClas" value="pernambuco">Pernambuco</option>
            <option class="optClas" value="paraíba">Paraíba</option>
            <option class="optClas" value="ceará">Ceará</option>
        </select>

        <!-- cidades -->
        <p class="titPro dois">Cidades onde deseja trabalhar</p>
        <div class="divCidades">
            <!-- <input type="checkbox" name="recife" id="checUm" class="classCheck">
            <label for="checUm" class="labCid">Recife</label><br>   -->
            <p class="titPro tres">(Escolha o estado)</p>
        </div>
 
        <p id="titServ">Descreva quais tipos de serviços que você realiza</p>
        <textarea name="" th:field="*{descricao}" id="descTiposSer"></textarea>

        <div id="anexo">
            <p id="titDoc">Envie um anexo da CTPS que comprove experiência, min. 6 meses.</p>
            <input type="file" name="" id="enviarFile" oninput="pegarNomeDoc()">

            <span id="nomeArq">Nenhum arquivo selecionado</span>
            <button id="btnEscArq">Escolher arquivo</button>
        </div>
            
        <button type="submit" id="EnvCadaPres">Enviar</button>
    </form>
    <!-- FIM FORM CADASTRO PRESTADOR -->

    <!-- INICIO FOOTER -->
    <footer>
        <a href="index.html" id="logoFooter">
            <img src="img/prestologo.png" alt="Logo">
            <span id="titLogoFooter">Presto</span>
        </a>
        <span id="direitos">2011-2020 © Todos os direitos reservados. Presto® é uma marca registrada de Presto
            Tecnologia.</span>
    </footer>
    <!-- FIM FOOTER -->

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script th:src="@{js/cadastroprestador.js}"></script>
    <script th:src="@{js/logado.js}"></script>
</body>
</html>