/* INICIO SECAO CATEGORIAS GIFS */
section#secaoCatGifs {
    width: 1366px;
    height: 100%;
    background-color: #00b5ad;
    border-radius: 3px;
    padding: 30px 200px 100px 30px;
    position: fixed;
    bottom: 0%;
    left: -50%;
    transform: translateX(-50%);
    font-family: LatoMedium;
    overflow-y: scroll;
    transition: left 2s;
}

h1#tituloSecaoCatGifs {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

button#btnEnviarVariasGifs {
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
}

button#btnEnviarVariasGifs > a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.589);
}

button#btnEnviarVariasGifs:hover {
    background-color: white;
}

div#divDasecaoCatGifs {
    margin-left: 40px;
}

div.catSaudacao {
    width: 202px;
    border: 1px solid #707070;
    display: inline-block;
    margin-left: 105px;
    margin-bottom: 30px;
    background-color: #2290cf;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
}

div.catSaudacao:hover {
    box-shadow: 0 10px 15px rgb(59, 59, 59);
}

.catSaudacao > p {
    color: white;
    font-size: 22px;
    text-align: center;
}

div.catSaudacao > img {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
}

button.btnEnviar {
    width: 70px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    background-color: #ffffff;
    position: absolute;
    top: 160px;
    right: 0;
    cursor: pointer;
    border: 1px solid black;
    border-right: 0;
    transition: 0.3s;
}

button.btnEnviar:hover {
    width: 80px;
    height: 50px;
    top: 150px;
}
/* FIM SECAO CATEGORIAS GIFS */
