/* INICIO CONTAINER DE LOGIN */
div.containerLog {
    display: inline-block;
    position: relative;
    top: -4px;
    left: 327px;
}

div.containerLog:hover > div.inforPerf {
    display: block;
}

div.containerLog > img {
    width: 39px;
    height: 42px;
}

div.containerLog1 {
    display: inline-block;
    position: relative;
    top: -8px;
    left: 400px;
}

div.containerLog1:hover > div.inforPerf {
    display: block;
}

div.containerLog1 > img {
    width: 39px;
    height: 42px;
}

div.inforPerf1 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 229px;
    height: auto;
    background-color: #FFFFFF;
    padding: 5px 0;
    box-shadow: 0 5px 6px #0000004a;
    display: none;
}

div.inforPerf1::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

span.nome {
    color: white;
    font-family: LatoMedium;
    position: relative;
    top: -15px;
    left: 4px;
    font-size: 16px;
}

span.nome::after {
    content: "";
    display: inline-block;
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    position: relative;
    top: 4px;
    left: 8px;
}

/* container informações de login */
div.inforPerf {
    position: absolute;
    top: 100%;
    left: -60px;
    z-index: 1;
    width: 229px;
    height: auto;
    background-color: #FFFFFF;
    padding: 5px 0;
    box-shadow: 0 5px 6px #0000004a;
    display: none;
}

div.inforPerf::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

span.infCliPres {
    display: block;
    text-align: center;
    font-family: LatoRegular;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

span.infCliPres > a {
    color: #000000CC;
    text-decoration: none;
}

hr.hrDiv {
    border: 0;
    border-bottom: 1px solid #DADADB;
    margin-top: 5px;
    margin-bottom: 10px;
}

span.sobrePerfil {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-family: LatoRegular;
}

span.sobrePerfil > a {
    color: #000000CC;
    text-decoration: none;
}

span.sair {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-family: LatoBold;
}

span.sair > a {
    color: rgba(255, 0, 0, 0.802);
    text-decoration: none;
}

span.infCliPres:hover,
span.sobrePerfil:hover,
span.sair:hover {
    text-decoration: underline;
}
/* FIM CONTAINER DE LOGIN */